body, html{
	/*font-face*/
    font-family: tahoma, arial, sans serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y:hidden;
}

a{/* added by jason for style */
  text-decoration: underline;
  color: white;
}

#sidebar {
    width: 250px;
    margin-right: 20px;
    float: left;
}



#instructions {
	height: 480px;
	width: 350px;
	float: left;
	margin-top: 20px;
	
	padding-left: 10px;
	padding-right: 10px;
    text-align: justify;
    
    border: 1px solid #000;
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
/*======================================================================================================
SLIDERBAR
======================================================================================================*/
.navBar{
    list-style: none;
    background: #fff;
    margin: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding-left: 70px;

}


.nav-item {
  width: 100%;
  font-size: 1.25em;
    margin-bottom: .25em;

  font-family: Roboto;
    transition: margin-left 0.5s;

}
span#chorus{
letter-spacing: .2em;
color: #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  background: #6FC0F3;
  transition: color 0.5s, background 0.5s;
}

li#welcome{
  font-size: 2.5em;
  color: white;
  margin-top: 15%;
  color: #D3D3D3;
  margin-bottom: 2.5%;
  font-family:Roboto;
    word-wrap: break-word;

}
.nav-item:hover{
  margin-left: 1em;
}

.nav-item a:hover {
  background: #FFF;
  color: #000;

}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 2;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect fill = '#fff' width='30' height='5'/><rect fill = '#fff' y='24' width='30' height='5'/><rect fill = '#fff' y='12' width='30' height='5'/></svg>");
    background-size: contain;
}

.nav-trigger:checked + label {
    left: 20.75%;
}
 
.nav-trigger:checked ~ .site-wrap {
    left: 20%;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}


.nav-trigger:checked ~ .site-wrap > #main-interface {
  left: -15%;
}

.nav-trigger + label, .site-wrap, .site-wrap > #main-interface{
    transition: left 1s;
}



.site-wrap {
    min-width: 100%;
    min-height: 100%;
    background-color: #6FC0F3;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
    padding: 1em 4em 4em 4em;
    background-size: 200%;
}

/*======================================================================================================
MOBILE BAR
======================================================================================================*/
#mobile-title{
  display:none;
}
.mobileBar{
  display:none;
  width: 100%;
  height: auto;
  clear:both;
  position: relative;
  text-align: center;
}

.mobileButton{
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: gray;
  width: 23.3%;
  float: left;
  font-size: 24pt;
  padding-top: 10px;
  padding-bottom:10px;
  margin-right: 5px;
  margin-left: 5px;
  color: black;
  display: none;
  margin-bottom: .5em;
    transition: background-color 0.5s ease;

}

.mobileButton:hover{
  background-color: #8e8e8e;

}

/*======================================================================================================
CHATBOX
======================================================================================================*/
::-webkit-scrollbar {
    width: 10px;
}
 

::-webkit-scrollbar-track {
    background:#eee;
}
/* Handle */
::-webkit-scrollbar-thumb {

    background: #9f9f9f; 
}



#header {
  width: 350px;
  margin: auto;
}

#main-interface{
  position: relative;
}

#container {
    width: 90%;
    min-width: 410px;
    margin-top: 20px;
}

/* DEAD CODE. review with kenneth...


.container {
  border: 2px solid #000;

  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";*/
  /* For IE 5.5 - 7 */
  /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
*/

#outer-container {
  /*text-align: center;*/
  max-width: 800px;
 
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

hr{
  margin-bottom: -.15em;
  margin-top: -.25em;

}

#chat-container {
    /*border: 1px solid #000;*/
    /*-moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;*/
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    text-align: center;
    position: fixedl;

}

.inplay, .expired {
 /* background-color: #FFCCCC;
  margin-left: 40px;
  margin-right: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #AAA;*/
  border: 3px outset #FF9999 !important;
  background-color:#FF9999;
  cursor: pointer;
}

.expired{
	cursor: default;
}

.inplay.voted:hover {
  border: 3px outset #FF9999 !important;
  background-color:#FF9999;
  cursor: pointer; 
}

.inplay:hover {
  /*background-color: #FF9999;*/
  border: 3px inset #EE6363 !important;
  background-color: #EE6363;
}

.important-button {
  font-size: 0.6em;
  display: block;
  margin-left: 10px;
}

.plus-minus-buttons {
  float: right;
}

.inplay .important-button {
  display: none;
}

/*
.expired{
	background-color: #F6DDDD;
	color: #BBA9A9;
}
*/

.voted {
  /*background-color: white;*/
  margin-left: 40px;
  margin-right: 10px;
 /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #AAA; */
  border: 3px inset #EE6363 !important;
  background-color: #EE6363;
  cursor: default;  
}

.voted.confirmed {
	background-color: white !important;
	border: none !important;
	cursor: default;
}

.voted.confirmed.HL, .confirmed.HL{
	background-color:yellow !important;
}

.username {
  display: none;
}

.role {
  /*font-weight: bold;
  float: left;*/
  height: 40px;
  width: 40px;
  color: white;
  font-size: 24pt;
  padding: 5px 5px 5px 5px;
  text-align: center;
  display:inline-block;
}


.role#crowd {
  float: left;
  background: #1FDA9A;
  margin-right: 20px;

}

.crowd {
   float: left;
   background: #1FDA9A;
   text-align: left;
   margin-left: 15px;
}

.crowd:before{
  content:"";
   position: absolute;
   right: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 0px solid transparent;
   border-right: 26px solid #1FDA9A;
   border-bottom: 26px solid transparent;

}

.role.REQUEST{
  color: white;
  float: right;
  background: #28ABE3;

}



.requester {
  /*background-color: #EEE;*/
  background: #28ABE3;
  text-align: right;
  margin-right: 35px;
  float: right;
}

.requester:before{
  content:"";
  position: absolute;
   left: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 0px solid transparent;
   border-left: 26px solid #28ABE3;
   border-bottom: 26px solid transparent;
}

.time {
  font-size: 0.5em;
  color: #838B8B;
  display: none;
  clear: both;
  float: right;
  margin-top: 5px;
}

.messages {/*FROM TALKBUBBLE*/

  /*margin-top: 1px;
  padding: 5px;
  padding-left: 14px; 
  border-bottom: 1px solid #DDD;
  min-height: 1em;*/
position: relative;
   margin-bottom: 1em;
   color: white;
    max-width: 70%;
   display: inline-block;
  word-wrap: break-word;
   padding: 10px 10px 10px 10px;
   font-size: 14pt;
   
}

li.messages.confirmed{
	padding-bottom: 15px;
}


#typing{
	width: 390px;
	font-size: 10pt;
	color: black;
	padding-left: 2px;
	text-align: left;
}

ul#chat-area {
    /*list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 316px;
    
    overflow-x: hidden;
    border: 1px solid #888;
    text-align: left;
    */
    background-color: white;
  height: 80%;
  padding: 20px;
  font-family: Roboto;
  overflow-y: scroll;
      overflow-x: hidden;
      list-style-type: none;

}
ul#chat-area li{
  clear:both;
}

#points {
    border: 1px solid #000;
    position: absolute;
    width: 10em;
    text-align: middle;
    right: 0;
    top: 0;
    display: none;
}

#participation {
clear: both;
padding-top: 5px 0 5px;
font-size: 14pt;
border: 1px solid black;

}

#votes-allowed {
	margin-right: 15px;
}

#tbox-alert, #chat-alert{
	color: red;
}



/*.defaultText { width: 300px; }*/
.defaultTextActive { color: #a1a1a1; font-style: italic; }

.chat-box, #mike {
    width: 310px;
    margin: 0px;
    font-size: 1em;
}

#chat-highlights {
  width: 250px;
  text-align: center;
  padding: 3px;
  margin: 0;
  overflow: hidden;
}

#chat-highlights ul {
  margin: 0 0 1px 0;
  /*min-height: 250px;*/
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 0;
  text-align: left;
}

#chat-highlights h2 {
  margin: 1em 1em 0 1em;
}

#memoryType {
  width: 240px;
  height: 4em;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

#chat-highlights ul li {
  padding: 5px 5px 5px 5px;
  min-height: 2em;
  list-style-type: none;
  background-color: #FFFFEE;
  display: block;
}

#chat-highlights ul li:hover{
  /*background-color: #FFCCCC !important;
  text-shadow: 2px 2px #D3A6A6;*/
  font-weight: 700;
  /*color: #FFA347;*/
}

#chat-highlights ul li i:hover{
  /*background-color: #FFCCCC !important;
  text-shadow: 2px 2px #D3A6A6;
  font-weight: 700;*/
  color: #FFA347;
}
  

.odd-chat-highlight {
  background-color: #EEEEFF !important;
  
  /*background: #EEEEFF !important;*/
  /*display: block;*/
}



/*
.odd-chat-highlight:hover, #chat-highlights ul li:hover{
	cursor: pointer;
}
*/

#highlight-instructions {
  font-size: 14px;
  color: #a1a1a1;
}

#chat-accepted {
    font-size: 2em;
    width: 15em;
    text-align: center;
    padding: 4px;
    background-color: #F00;
    color: #FFF;
    margin: auto;
    border-radius: 5px;
    font-weight: bold;
}

#chat-accepted-container {
    position: absolute;
    top: 5px;
    display: none;
    width: 100%;
}

.chat-done {
    width: 100%;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #000;
}

#legion-submit-instructions {
    display: none;
    color: #FFF;
}



/*======================================================================================================
input field
======================================================================================================*/


#entry_wrapper{
  height: 4.25em;
  width: 100%;
  display: inline-block;
}


#txt{
  width: 85%;
  float: left;
  margin: 10px 10px 10px 10px;
  border: none;
}

textarea{
  resize: none;
}

.TESTING{

  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #34d9b8;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.TESTING:hover {
  background: #3cbefa;
  text-decoration: none;
}

/*======================================================================================================
SUBMIT BUTTON
======================================================================================================*/


.submit-button{
	/*margin:0;
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #268A16), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #268A16 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#268A16', endColorstr='#5cb811');
	background-color:#268A16;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#FFFFFF;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	
	width: 80px;
	padding: 17px 3px 17px 3px;
	text-decoration:none;
  */

  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #1FDA9A;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  transition: background-color 0.5s ease;
  display: inline-block;
  float: left;
  margin-top: 17.5px;  
  border: none;
}


.submit-button:hover {
	background: #3cbefa;
  text-decoration: none;
	cursor: pointer;
}


.submit-button:active {
	position:relative;
	top:1px;
}

/*.submit-button-disabled{
	margin-top: 2px;
	-moz-box-shadow:inset 0px 1px 0px 0px #A9A9A9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #A9A9A9;
	box-shadow:inset 0px 1px 0px 0px #A9A9A9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A9A9A9), color-stop(1, #A9A9A9) );
	background:-moz-linear-gradient( center top, #A9A9A9 5%, #A9A9A9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9A9A9', endColorstr='#A9A9A9');
	background-color:#A9A9A9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #A9A9A9;
	display:inline-block;
	color:#FFFFFF;
	font-family:arial;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
	width: 80px;
	padding: 17px 3px 17px 3px;
}
*/


/*======================================================================================================
OTHER
======================================================================================================*/


.time_wrapper_requester{
       position:relative;
       bottom:9px;
       left:-350px;
       padding-right: 5px;
}
.time_wrapper_crowd{
       position:relative;
       bottom:9px;
       left:-335px;
       padding-right: 5px;
}

li.messages{
	position: relative;
}

.visible, .invisible{
	position:absolute;
    bottom:0;
    right:0;
    font-size: 8pt;
    padding: 3px 3px 3px 3px; 
    display: block;
	/*
	width: 200px;
	height: 100px;
	border: 1px solid green;
	*/
	/*
	float: right;
	font-size: 8pt;
	margin-left: 3px;
	margin-bottom: 5px;
	padding-bottom: 5px;
	*/
	/*display: table-cell	;*/
	/*
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    */
}
.invisible{
	color: gray;
	margin-bottom: 5px;
}

.visible{
	color: rgba(0, 0, 0, 0.73);
	/*margin-top: 10px;*/
}
	

.message{
	/* REDACT
	float: left;
	*/
	width: 275px !important;
}
.exit_button{
	background-color:#DEDEDE;
	color:#8A8A8A;
	width: 18px;
	height: 12px;
	padding-bottom: 6px;
	clear:right;
	float: right;
	font-weight: bold;
	text-align:center;
	font-family:"verdana", Geneva, sans-serif;
	font-size: 12px;
	cursor: pointer;
}
.exit_button:hover{
	background-color:#8A8A8A;
	color: #DEDEDE;
}



.chat-box.req{
	width: 100%;
}


.icons{
	margin-top: 5px;
	padding-right: 15px;
	width: 25px;
	height: auto;
}

#newMessages{
	display: none;
	font-weight: bold;
	color: red;
}
#newMessages:hover{
cursor: pointer;
}

.memoryStar{
	font-size: 20px;
	padding: 3px 3px 3px 3px;
	color: #B2B2CC;
	cursor: pointer;
}
.memoryStar:hover{
	/*color: #FFCC66;*/
}
/*
.memoryImportant{
	color: #FFA347;
}
*/
.memory{
	cursor: pointer;
}

.memory:hover{
	/*font-weight: 700;*/
	/*text-shadow: 2px 2px #D0D0D0;*/
	/*color: #FFCC66;*/
}
/*.memory:hover div i{
	color: #FFCC66;
}*/

.votedMemory{
	font-weight: 700;
	cursor: default;
}
.votedMemory div i{
	color: #FFA347;
}



/*======================================================================================================
CHAT BUBBLES
======================================================================================================*/
#testContainer{
  
}

ul.testList{
   background-color: #eee;
  height: 33%;
  width: 400px;
  padding: 20px;
  font-family: Roboto;
  overflow-y: scroll;
      overflow-x: hidden;
      list-style-type: none;
}
.testList li {
  clear: both;
}

.user{
  height: 30px;
  width: 30px;
  color: white;
  font-size: 20pt;
  padding: 5px 5px 5px 5px;
  text-align: center;
  display:inline-block;
}

.user#left{
  float: left;
  background: #D22;
}

.user#right{
  float: right;
  background: #22D;
}



.talkbubble{
   position: relative;
   margin-bottom: 1em;
   color: white;
   max-width: 70%;
   display: inline-block;
  word-wrap: break-word;
   padding: 10px 10px 20px 10px;
   overflow: visible;
   
}

.talkbubble p {
  display: inline;
}

.talkbubble#left{
  float: left;
   background: #D22;
   text-align: left;
   margin-left: 40px;
}



.talkbubble#left:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 0px solid transparent;
   border-right: 26px solid #D22;
   border-bottom: 26px solid transparent;
}

.talkbubble#right{
  background: #22D;
  text-align: right;
  margin-right: 40px;
  float:right;
}

.talkbubble#right:before{
  content:"";
  position: absolute;
   left: 100%;
   top: 0px;
   width: 0;
   height: 0;
   border-top: 0px solid transparent;
   border-left: 26px solid #22D;
   border-bottom: 26px solid transparent;
}



/*======================================================================================================
MEDIA QUERIES
======================================================================================================*/

/*general*/

@media only screen and (max-height: 760px){
  #outer-container{
    height: 95%;
  } 
  #sidebar{
    font-size: 10pt;
  }

  .nav-trigger:checked ~ .site-wrap > #main-interface {
  left: -10%;
  }

  .nav-item {
  font-size: 1em;
 
  }

  .nav-item a{
    padding: 7.5px;
  }

   li#welcome{
    font-size: 2em;
  }

  .messages{
    font-size: 12pt;
  }

  .user{
    font-size: 16pt;
  }
  .navBar{
    padding-left: 55px;

  }
}


/*smaller screens*/
@media only screen and (max-height: 600px) {

  #outer-container{
    height: 85%;
    max-width: 650px;

  } 
  #sidebar{
    font-size: 8pt;
  }

  .nav-trigger:checked ~ .site-wrap > #main-interface {
  left: -10%;
  }

.navBar{
    padding-left: 40px;

  }
  .nav-item {
  font-size: .66em;
  }

  .nav-item a{
    padding: 5px;
  }

   li#welcome{
    font-size: 1.5em;
  }

  .messages{
    font-size: 10pt;
  }

  .user{
    font-size: 13pt;
  }
}

@media only screen and (max-height: 450px) {

  #outer-container{
    height: 70%;
    max-width: 500px;
  } 
  #sidebar{
    font-size: 6pt;
  }

  .nav-trigger:checked ~ .site-wrap > #main-interface {
  left: -10%;
  }

  .navBar{

padding: 25px;  }

  .nav-item {
  font-size: .66em;
  margin-bottom: .125em;
 
  }

   li#welcome{
    margin-top: 2.5em;
    font-size: 1em;
  }

  .messages{
    font-size: 10pt;
    padding: 5px 5px 10px 5px;
  }

  .role{
    font-size: 14pt;
    height:25px;
    width: 25px;
  }
  .crowd:before{
    border-top: 0px solid transparent;
   border-right: 13px solid #1FDA9A;
   border-bottom: 13px solid transparent;
  }

  .requester:before{
    border-top: 0px solid transparent;
   border-left: 13px solid #28ABE3;
   border-bottom: 13px solid transparent;
  }

  .crowd{
    margin-left: 5px;
  }

  .requester{
    margin-right: 25px;
  }
}


/*tablet*/
/*
  @media only screen and (max-device-width: 1024px) and (orientation: landscape){
  
  }
*/


/*mobile*/

@media only screen and (max-device-width: 768px) {
  .navBar{
    display: none;
  }

ul#chat-area{
  height: 45%;

}


  #entry_wrapper{
    position: fixed;
    left: 0%;
    width: 100%;
    height: auto;
    text-align: center;
  }

  #entry_wrapper form textarea{
    height: 10em;
    width: 70%;
    margin-left: 60px;
    margin-right: 10px; 

  }

.submit-button{
    width: 20%;
    font-size: 50px;
    height: 2.5em;
}

  label{
    display: none;
  }
  #outer-container{
    max-width: 100%;
    text-align: center;
  } 

  .messages{
    font-size: 23pt;
    padding: 20px 20px 25px 20px;
  }

  .role{
    font-size: 30pt;
    height: 55px;
    width: 55px;
  }
  .crowd:before{
    border-top: 0px solid transparent;
   border-right: 52px solid #1FDA9A;
   border-bottom: 52px solid transparent;
  }

  .requester:before{
    border-top: 0px solid transparent;
   border-left: 52px solid #28ABE3;
   border-bottom: 52px solid transparent;
  }

  .crowd{
    margin-left: 45px;
  }

  .requester{
    margin-right: 65px;
  }



.mobileBar{
display: inline-block;
margin-top:10em; 
}
.mobileButton{
  display: inline-block;
}

#mobile-title{  
font-size: 55pt;
font-family: Roboto;
display: inline-block;
margin-bottom: .25em;
margin-top: 0em
}